### Django ###
*.log
*.pot
*.pyc
__pycache__/
monty2019/local_settings.py
# migrations/0001_initial.py
migrations/

# Django stuff:
db.sqlite3-journal


# pyenv
.python-version


# Environments
venv/
monty2019_venv/

### PyCharm ###
.idea/

# Text backup files
*.bak

#Database
*.sqlite3

*.env
