### Django ###
*.log
*.pot
*.pyc
__pycache__/
monty2019/local_settings.py
#migrations/

# Django stuff:
db.sqlite3-journal


# pyenv
.python-version


# Environments
venv/

### PyCharm ###
.idea/

# Text backup files
*.bak

#Database
*.sqlite3

*.env

*.vscode/
