{% extends 'base.html' %}

{% block content %}
{% if form %}
<div class="card text-center">
    <div class="card-header">
        <h4>Pass your test here</h4>
        <h5>Choose dictionary and themes to generate words for test</h5>
    </div>
    <div class="card-body">
        <form action="/api/test/" method="post">{% csrf_token %}

            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
{% endif %}

{% if words %}
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">Type right translation into the blank below</h5>
    </div>
    <div class="card-body">
        <div class="mx-auto" style="width: 200px;">
            <form action="/api/test/check/{{test_id}}/" method="post">{% csrf_token %}
                {% for word in words %}
                <label for="{{word.fw}}">{{ word.fw }}</label>
                <input name="{{ word.fw }}" id="{{word.fw}}"><br>
                {% endfor %}
                <div class="btn btn-center">
                    <button type="submit" class="btn btn-success">Test me</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% if test_result %}
<!--<div class="card text-center">-->
<div class="badge badge-info text-warning" style="width: 20rem;">
        <h3>Your test result {{ test_result }} !!!</h3>
</div>
<!--</div>-->
{% endif %}

{% endblock %}
